<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{template.email.activation.account}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 th:text="#{template.email.activation.account.welcome.title}">&nbsp</h1>
    <p th:text="#{template.email.activation.account.text.hello}"></p><span th:text="${userName}"></span>,</p>
    <p th:text="#{template.email.activation.account.text}"></p>
    <p>
        <a th:href="${activationLink}" th:text="${activationLink}"></a>
    </p>
    <p th:text="#{template.email.activation.account.text.valid.link}"></p>
    <p th:text="#{template.email.activation.account.text.ignore.email}"></p>
    <p th:text="#{template.email.activation.account.text.yours.sincerely}"></p>
	<p th:text="#{template.email.activation.account.text.team}"></p>
</body>
</html>